.currency_input {
    display: block;
    margin: 0 auto;
    padding: 5px 5px;
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    color: #1a1a1a;
    color-scheme: white;
    min-width: 20rem;
    margin-bottom: 1rem;
}

.selects {
    color: #1a1a1a;
}

.currency_select {
    margin: 0 auto;
    padding: 5px 5px;
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    color: #1a1a1a;
    color-scheme: white;
    min-width: 6rem;
}

.convert_button {
    margin: 0 auto;
    padding: 6px;
    background-color: blue;
    border-radius: 5px;
    border-width: 1px;
    color: white;
    color-scheme: white;
    min-width: 20rem;
}

.result_display {
    color: #1a1a1a;
}